<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CineLand</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

    {% block css %}
    {% endblock %}
</head>
<body>
    <header>
      
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo">

        <nav>
                <ul>
                        <li>
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li>
                            <a href="{% url 'galeria' %}">Contacto</a>
                        </li>
                        <li>
                            <a href="{% url 'nueva_pelicula' %}">Nueva pelicula</a>
                        </li>
                        <li>
                            <a href="{% url 'listado_pelicula' %}">Listado peliculas</a>
                        </li>

                        {% if user.is_authenticated %}
                            <li>
                                <a href="#">Usuario: {{user.username}}</a>
                            </li>
                            <li>
                                  <a href="{% url 'logout' %}">Cerrar session</a>
                            </li>
                        {% else %}
                             <li>
                                  <a href="{% url 'login' %}">Iniciar session</a>
                            </li>
                        {% endif%}
                </ul>   
        </nav>
        
    </header>

    <div id="principal">
       <br>

        {% block contenido %}


        {% endblock %}
    </div>

    <footer class="hide_on_mobile">
        <div>
            <img src="{% static 'img/logo.png' %}" alt="logo" class="logo_footer">
        </div>
        <div>
            <h4>Programación</h4>
            <hr>
            <ul>
                <li>Cartelera</li>
                <li>proximamente</li>
                <li>Venta anticipada</li>
            </ul>
        </div>
        <div>
                <h4>Programación</h4>
                <hr>
                <ul>
                    <li>Cartelera</li>
                    <li>proximamente</li>
                    <li>Venta anticipada</li>
                </ul>
        </div>
        <div>
                <h4>Programación</h4>
                <hr>
                <ul>
                    <li>Cartelera</li>
                    <li>proximamente</li>
                    <li>Venta anticipada</li>
                </ul>
        </div>
    </footer>

    <!--footer mobile-->
    <footer class="hide_on_desktop">
        <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo_footer_mobile">
    </footer>
    
    para asegurarnos que la página esta cargada-->
    <script src="{% static 'js/basico.js' %}"></script>

    {% block js %}

    {% endblock %}
</body>